* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 25px 15px;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 25px;
  font-size: 28px;
}

p {
  color: #ccc;
}

input {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: 12px;
  background: #1a1a1a;
  color: white;
  font-size: 17px;
  text-align: center;
}

button {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin-top: 12px;
  border: none;
  border-radius: 12px;
  background: #ffffff;
  color: #111;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

h2 {
  margin-top: 35px;
}

#historique {
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 12px;
  background: #171717;
}

#historique p {
  margin: 8px 0;
  padding: 10px;
  border-bottom: 1px solid #333;
}
